parameters:
    level: 6
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '#Call to function method_exists\(\) with .*Symfony\\\\Component\\\\Dotenv\\\\Dotenv.*bootEnv.*will always evaluate to true#'
        - '#Property App\\Entity\\User::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'
        - '#Property App\\Entity\\ResetPasswordRequest::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'
        - '#Property App\\Entity\\Category::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'
        - '#Property App\\Entity\\Category::\$slug \(string\|null\) is never assigned string so it can be removed from the property type#'
        - '#Property App\\Entity\\Post::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'
        - '#Property App\\Entity\\Post::\$slug \(string\|null\) is never assigned string so it can be removed from the property type#'
        - '#Property App\\Entity\\Post::\$isPublished \(bool\|null\) is never assigned null so it can be removed from the property type#'