parameters:
    level: 6
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '#Call to function method_exists\(\) with .*Symfony\\\\Component\\\\Dotenv\\\\Dotenv.*bootEnv.*will always evaluate to true#'
        - '#Property App\\Entity\\User::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'