{% extends "themes/base_visitor.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block description %}Lisez des articles pertinents sur la santé et le bien être{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des articles</h1>
{% endblock %}