<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Page non trouvée</h1>

        <p>
            <a href="{{path('app_visitor_welcome')}}">Retour à l'accueil</a>
        </p>
    </body>
</html>